@CHARSET "ISO-8859-1" ;;


.post a {
	color: #0C72A2;
	text-decoration: none;
}
.post a:visited {
	color: #0C72A2;
	text-decoration: none;
}

.post a:hover {
	color: #0C72A2;
	background: #F0FDE2;
	border-bottom: 1px solid #0C72A2;
}

.post h2 {
	color: #0C72A2;
	margin: 0px 0px 2px;
	border-bottom: 1px dotted #4395BC;
	width:100%;
	font: lighter 2em/1em Georgia,"Times New Roman",Times,serif;
	padding-bottom: 3px;
}
.post h2 a, h2 a:visited {
	color: #0C72A2;
	text-decoration: none;
}
.post h2 a:hover {
	color: #0C72A2;
	text-decoration: none;
}

#content {
    padding: 40px 0px 157px 157px;
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
}