<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/comisionesProdcm"/>
    </bean>
    
    <bean id="dataSourceCarga" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/comisionesProdcm"/>
    </bean>

	-->
	
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	  <!-- <property name="jndiName" value="jdbc/REPCOM"/> -->
	  <property name="jndiName" value="jdbc/comisionesProdcm"/>
	  <property name="lookupOnStartup" value="true"/>
	  <property name="cache" value="true"/>
	  <property name="jndiTemplate" ref="wasJndiTemplate"/>
	</bean>

	<bean id="dataSourceCarga" class="org.springframework.jndi.JndiObjectFactoryBean">
	  <!-- <property name="jndiName" value="jdbc/comisionesSisteCom"/> -->
	  <!-- <property name="jndiName" value="jdbc/comisionesEsisCom"/> -->
	  <!-- <property name="jndiName" value="jdbc/REPCOM"/>-->
	  <property name="jndiName" value="jdbc/comisionesProdcm"/>
	  <property name="lookupOnStartup" value="true"/>
	  <property name="cache" value="true"/>
	  <property name="jndiTemplate" ref="wasJndiTemplate"/>
	</bean> 

	<bean id="wasJndiTemplate" class="org.springframework.jndi.JndiTemplate">
	  <property name="environment">
	    <props>
	      <prop key="java.naming.factory.initial">com.ibm.websphere.naming.WsnInitialContextFactory</prop>
	    </props>
	  </property>
	</bean>
	
	<bean id="loginAction" class="mx.com.iusacell.comisiones.web.seguridad.struts.action.LoginAction" scope="prototype">
		<property name="loginProxy" ref="loginProxy" />
   	</bean>
   	
   	<bean id="loginProxy" class="mx.com.iusacell.comisiones.web.seguridad.struts.action.LoginProxy" scope="prototype">
   		<property name="comisionesDAO" ref="comisionesDAO" />
   	</bean>
   	
   	<bean id="welcomeAction" class="mx.com.iusacell.comisiones.web.seguridad.struts.action.WelcomeAction" scope="prototype">
   	</bean>
   	
   	<bean id="cargaArchivoAction" class="iusacell.comisiones.action.CargaArchivoAction" scope="prototype">
   		<property name="cargaArchivoBO" ref="cargaArchivoBO" />
   	</bean>
   	
   	<bean id="comisionesAction" class="iusacell.comisiones.action.ComisionesAction" scope="prototype">
   		<property name="comisionesBO" ref="comisionesBO" />
   	</bean>
   	
   	<bean id="comisionesInicioAction" class="iusacell.comisiones.action.ComisionesInicioAction" scope="prototype">
   	</bean>
   	
   	<bean id="comisionesReportesAction" class="iusacell.comisiones.action.ComisionesReportesAction" scope="prototype">
   		<property name="comisionesReportesBO" ref="comisionesReportesBO" />
   	</bean>
   	
   	<bean id="comisionesBO" class="iusacell.comisiones.bo.impl.ComisionesBOImpl" >
   		<property name="comisionesDAO" ref="comisionesDAO" />
   		<property name="generaExcel" ref="generaExcel" />
   	</bean>
	
	<bean id="cargaArchivoBO" class="iusacell.comisiones.bo.impl.CargaArchivoBOImpl" >
		<property name="cargaArchivoDAO" ref="cargaArchivoDAO" />
   	</bean>

	<bean id="generaExcel" class="iusacell.comisiones.util.GeneraExcel" >
   	</bean>
   	
   	<bean id="comisionesReportesBO" class="iusacell.comisiones.bo.impl.ComisionesReportesBOImpl" >
   		<property name="comisionesReportesDAO" ref="comisionesReportesDAO" />
   		<property name="generaExcel" ref="generaExcel" />
   	</bean>
   	
   	<bean id="comisionesDAO" class="iusacell.comisiones.dao.impl.ComisionesDAOImpl" >
		<property name="dataSource" ref="dataSource" />
   	</bean>

	<bean id="cargaArchivoDAO" class="iusacell.comisiones.dao.impl.CargaArchivoDAOImpl" >
		<property name="dataSource" ref="dataSourceCarga" />
   	</bean>
   	
   	<bean id="comisionesReportesDAO" class="iusacell.comisiones.dao.impl.ComisionesReportesDAOImpl" >
		<property name="dataSource" ref="dataSource" />
   	</bean>
	

</beans>


<!--  

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<  productivo >
		<property name="url" value="jdbc:oracle:thin:@10.188.25.41:1521:REPCOMPPR1" />
		<property name="username" value="USRAPPWEBCOM" />
		<property name="password" value="brapHUceste5" /> 
		< <property name="url" value="jdbc:oracle:thin:@10.188.25.45:1521:ESISCOM" /> >
		< desarrollo >
		< <property name="url" value="jdbc:oracle:thin:@10.188.41.84:1521:ESISCOM" /> >
		< <property name="username" value="PRODCM" /> >
		< <property name="password" value="cm81km673" /> >
	</bean>

	<bean id="dataSourceCarga" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@172.19.1.203:1521:SISTE" />
		<property name="username" value="USRAPPCOMISREP" />
		<property name="password" value="druhedrApR2h" />
	</bean>

-->